body{
    background-color: #F3E9DE;

}
button{
    width: 100px;
    height: 50px;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border:none;
}

#newNote{
    background-color: #375F68;
}

#darkThemeButton{
    background-color: #56536A;
}
#saveButton{
    background-color: #375F68;
}

#cancelButton{
    background-color:#9B332C ;
}
.container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 97vh;
    width: 97vw;
    grid-gap:5px;
}
main{
    grid-column: 2/-1;
    grid-row: 1/7;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap:5px;
}
main h1{
    display:flex;
    justify-content: center;
    grid-column: 1/5;
    grid-row: 1/2;

}
#newNote{
    grid-column: 1;
}
#newNoteContainer{
    display: flex;
    align-items: flex-end;
}

#threebuttons{
    grid-column: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#extras{
    padding : 0px 10px;
}

#bottomright{
    grid-column: -1;

    display: flex;
    justify-content: flex-end;
}

textarea{
    grid-column: 1/5;
    grid-row: 3/6;
    border-color: #256993;
    resize:none;
}
#saveCancel{
    grid-column:-1;
    grid-row: 6;
}
aside{
    background-color: #FAF4EC;
    grid-column: 1/2;
    grid-row: 1/8;
    padding: 10px;

}
aside h1{
    display:flex;
    justify-content: center;
}

footer{
    grid-column: 2/-1;
    grid-row: 7/-1;
    display:flex;
    justify-content: center;

}

#links{
    display:flex;
    justify-content: center;
}

h1, li, a, h2{
    color: #256993;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 600px) {
    main{
        grid-column: 1/-1;
        grid-row: 1/6;
    }
    aside{
        grid-column:1/6 ;
        grid-row: 6/7;
    }
    footer{
        grid-column: 1/-1;
        grid-row: 7/-1;
    }
}
  

